{% extends 'base.html' %}
{% block title %}test_tutorial{% endblock %}
{% block content %}


<script>
$(document).ready(function () {
    {% for outer_layer in data.getLeftRow().getContent() %}
    {% for inner_object in outer_layer.getChildren() %}
    $("#{{inner_object.getID()}}").click(function () {
        $.get("{{url_for('get_article', article_id = inner_object.getID())}}", function (articalData) {
           $("#baseContent_title").text(articalData.title);
           $("#baseContent_content").html(articalData.htmlcontent);
      });
    });
    {% endfor %}
    {% endfor %}
});
</script>
{% endblock %}